<h2>Ma collecction</h2>
<table>
  <tr>
    <th>Album</th>
    <th>Artiste</th>
    <th>Note</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>